@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&family=Roboto&display=swap");

:root {
  --black: #1e1e1eff;
  --grey: #d6d2d2ff;
  --red: #fc5043ff;
  --blue: #574ae2ff;
  --purple: #654597ff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  position: relative;
  font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  margin-bottom: 10px;
  z-index: 9;
  width: 300px;
  height: 30px;
  display: flex;
  align-items: center;
  background-color: var(--grey);
  border-radius: 5px;
}

#nav-items {
  width: 100%;
  padding: 5px 0;
  height: 30px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: var(--black);
  padding: 5px 10px;
  z-index: 9;
}

#active {
  position: absolute;
  background-color: white;
  border-radius: 5px;
}

main {
  position: relative;
}

#home {
  width: 100%;
  height: 100vh;
  position: relative;
}

.parallax {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

#bg {
  z-index: -3;
  position: fixed;
}

#car {
  z-index: -2;
}

#grass {
  z-index: 0;
}

#title {
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(2);
  color: rgb(201, 201, 201);
  color: var(--grey);
  text-shadow: 1px 1px var(--black);
}

#title h1 {
  color: var(--grey);
  text-shadow: 3px 3px var(--black);
  font-family: "Leckerli One", cursive;
}

#services {
  position: relative;
  width: 100%;
  height: 100vh;
}

.image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.image:nth-child(2),
.image:nth-child(3) {
  top: 100%;
}

#services .show {
  top: 0;
  z-index: 2;
}

#services .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#services .image .caption {
  top: 50%;
  left: -100%;
  margin-left: 10px;
  width: 700px;
  max-width: 80vw;
  padding: 5px 5px;
  transform: translate(0, -50%);
  position: absolute;
  color: var(--black);
}

#services .image .caption h3 {
  padding: 5px;
  width: fit-content;
  margin-bottom: 15px;
  background-color: var(--red);
  color: var(--black);
}

#services .image .caption p {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(3px);
}

.control {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 20%;
  right: 0;
  translate: -0% 50%;
  z-index: 2;
}

.control > div {
  padding: 5px 30px 5px 25px;
  margin-bottom: 10px;
  margin-right: -5px;
  background-color: var(--grey);
  transition: 0.3s;
}

.control > div:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  color: var(--red);
  transform: translate3d(-5px, -5px, -20px);
}

.control .active-control {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  color: var(--red) !important;
  transform: translate3d(-5px, -5px, -20px) !important;
}

#contact {
  position: relative;
  background-color: var(--black);
  color: var(--grey);
  width: 100%;
  height: 100vh;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact-form {
  border: 3px solid var(--red);
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  width: 500px;
  max-width: 90vw;
  padding: 20px;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  float: left;
  margin-top: 20px;
}

form > div {
  position: relative;
  overflow: hidden;
}

form input,
form textarea {
  width: 100%;
  border: 2px solid var(--grey);
  color: var(--grey);
  margin-bottom: 5px;
  background: none;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 8px 12px;
  outline: 0;
}

form input:valid,
form textarea:valid {
  background: var(--black);
}

form input:focus,
form textarea:focus {
  border-color: var(--red);
}
form input:focus + label,
form textarea:focus + label {
  background: var(--red);
  color: var(--grey);
  font-size: 70%;
  padding: 1px 6px;
  z-index: 2;
  text-transform: uppercase;
}
form label {
  transition: background 0.5s, color 0.5s, top 0.5s, bottom 0.5s, right 0.5s,
    left 0.5s;
  position: absolute;
  color: #999;
  padding: 7px 6px;
}
form textarea {
  display: block;
  resize: vertical;
}
form.go-bottom input,
form.go-bottom textarea {
  padding: 12px 12px 12px 12px;
}
form.go-bottom label {
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
form.go-bottom input:focus,
form.go-bottom textarea:focus {
  padding: 4px 6px 20px 6px;
}
form.go-bottom input:focus + label,
form.go-bottom textarea:focus + label {
  top: 100%;
  margin-top: -16px;
}

form input[type="submit"] {
  border: none;
  border-radius: 5px;
  background-color: var(--red);
  color: var(--black);
  font-weight: bold;
  width: fit-content;
  align-self: end;
  margin-top: 10px;
  padding: 5px 10px;
}

form input[type="submit"]:focus {
  padding: 1px 5px;
}

@keyframes fadeIn {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@keyframes fadeOut {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
